*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing:border-box;


}

img{
    max-width: 100%;
    min-width:auto;


}
body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #97633d;
    color:#000;
    display: flex;
    flex-direction: column;

}


/*It means apply those styles to all elements.*/
.container{
    
    margin:0;
    padding:0;
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:left;
    padding-left:4%;
    padding-right:4%;
    box-sizing:border-box;
    background-origin: border-box;


    
}
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background-color:white;/*this changes the long line that is between the logo and the nav*/
    color:crimson;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    background-color:none;
    color: rgb(255, 255, 255);
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 1.8rem;
    font-family: sans-serif;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color:#08767a;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .menu-items{
        background-color:  #9b2817;
    }

    .menu-items li a{
        color: rgb(241, 255, 241);
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
        
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color:black;
        
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        /* background: ; */
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
        
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
       
    }

    .logo{
        
       
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

.img1{
    width: 300px;
    height:200px; 
    float:left;
    padding:10px;
    margin-bottom: auto;
    margin-top: 40px;


}

   

   

h1{
    font-family: arial, "Time New Roman";
    font-size:30px;
    font-style: italic;
    font-weight: 100;
    text-align:left;
    text-decoration:solid;
    text-indent: 20px;
    text-transform:uppercase;
    color:#000;


}

.containeer{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    
}
.containeer, .cardd{
  

}
.containeer, .cardd {
    
    
    
    

}
.img11{
    padding: 10px;
    max-width: 100%;
    
}

.text{
    width: 400px;
    padding: 10px;
    padding-top: 10%;
    /* margin-top: 50px; */
    text-align: center;
    display: flex;
    justify-content: center;

}






.m{
    margin-top:5%;
}

.media{
    white-space: normal;
}
    


.homepimage1{
    width:100%;
    height:400px;
    top: 100px;
    background-image: url("../projectfive/Images/home.png");
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-background-size:cover;
    /*padding-left:4%;
    padding-right:4%;*/
    
}
.hometext1{
    font-size: 16px;
    text-align:center;
    margin: 20px;
    font-weight:100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200x;
    padding:20px;
    color:#f9f9f9;
    line-height: 170%;
}

.hometext1 p{
    padding: 3%;
}
.h1home{
    color:#ffffff;
    font-size:30px;
    /* background-color:#F7F7F7; */
    text-align:left;
    max-width: fit-content;
    text-align: center;
    text-indent: 3%;
}
header{
    height:50px;
    color:black;
    width:100%;
    z-index:12;
    position:fixed;
    /*background-color:#B67162;*/
    position: relative;
    left:20;



}
.hometopima{
    text-align: center;
    position:absolute;
    color:white;
    top:30%;
    width:100%;
    

}
.homeimage2{
    width:500px;
    position: relative;
    box-shadow:0 0 5px rgba(0,0,0,.4);
    overflow:hidden;
    border-radius: 10px;
    margin-bottom:10px;
    top:25%;
    float:right;
    

  


}

.secondhometext2{
    text-align:right;
    float:right;

}
.thirdhometext{
    text-align: left;
    float:left;
    display:block;
    margin: auto;
    font-size: 15px;
}
.thirdimagehomepage{
    width:500px;
    height:400px;
    position: relative;
    box-shadow:0 0 5px rgba(0,0,0,.4);
    overflow:hidden;
    border-radius: 10px;
    margin-bottom:10px;
    top:25%;
    float:left;
}
.secondtexthomepage{
    font-size: 16px;
    text-align:center;
    justify-content: center;
    margin: 20px;
    font-weight:100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200x;
    padding:20px;
    color: #ffffff;
    line-height: 150%;
}

    

 

.footer{
    padding: 40px 0;
    background-color: #fff;
    

}
.footer, .social {
    text-align: center;
    padding-bottom:25px;
    color: #4b4b4b;
    

}
.footer .social a{
    font-size:24px;
    color: inherit;
    border:1px solid #ccc ;
    width:40px;
    height:40px;
    line-height: 38px;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  
}
.footer .social a:hover{
   opacity: 0.9;
}
.footer ul{
    margin-top:0;
    padding:0;
    list-style:none;
    margin-bottom: 0;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    white-space: inherit;
    text-align: center;

}
.footer ul  li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;

}
.footer ul li{
    display:inline-block;
    padding:0 15px;
}
.footer ul li a:hover{
    opacity: 1;

}
.footer .copyright{
    margin-top:15px;
    text-align: center;
    font-size: 13px;
    color:inherit;
}

.heading{
    font-family:century;
    font-family: 3rem;
    text-align: center;
    /* margin: 40px 0px; */
    position:absolute;


}


/*sticky footer*/
#stiky-footer{
    position: sticky;
    top:10;
}
.quote{
    font-size: 20px;
    text-align:center;
    margin: 20px;
    font-weight:100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200x;
    padding:px;
    color:#000;
}
.proimag1{
    width: 450px;
    height: 300px;
    object-fit:cover;
    background-size:cover;
    background-position:center;

      

}
.projectpagecolor{
    background-color:#97633d;
    
}
.detail{
    font-family:century;
    font-family: 3rem;
    color: #444;
    justify-content: center;
    text-align: center;

}

.section{

}


h1,h2,p,li,div{

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, crossorigin;


}
.head2{
    text-align: center;
    font-size: 30px;
    color:#ffffff; 

}
.imgpro1{
    padding: 10px;
    width: 400px;
    float:left;


    
}
 .imgpro4{
    width:800px;
    height:400px;
    padding:10px;
 
} 
.eque
{
    color:#ffffff;
    font-size:30px;
    /* background-color:#F7F7F7; */
    text-align:left;
    max-width: fit-content;
    text-align: center;
    text-indent: 3%;

}

.pro2{
    font-size: 16px;
    text-align:center;
    margin: 20px;
    font-weight:100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200x;
    padding:20px;
    color:#f9f9f9;
    line-height: 170%;
}
.con{
    padding-bottom: 5px;
    color: #f9f9f9;
    font-family: sans-serif;

}
/* .imgpro3{
    width: 300px;
    height:200px; 
    float:left;
    padding:10px;
    margin-bottom: auto;
    margin-top: 40px;

} */
.text2{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
}






