

img{
    max-width: 700;
    initial-letter: 100;
}

@mega only screen and (max-width:600px){
    body{font: size 55px;}
    nav a {max-width:100%
        padding:10px
        display:block;
        flex-direction:row;
        justify-content:space-around;
    
    
    }


}
@media only screen and (min-width:0px){
.navv{flex-direction: column;
    padding: 35%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}



    
}

@media only screen and (max-width:599px) {
    span{display: none;}

}