p {
    color:#efefef;
    background-color:#DFF6FF;
   
}
body {
    background-color:#752222;
    color:#EFEFEF;
    

}
h1 {
    padding: 60px;
    background-color:#bb71ca; 
}

nav a {
    color: #531f2e;

  }
nav {

}



