nav{
    color:chocolate
    display flex;
    padding: 40px;
    margin-bottom: 30px;
    background-color: lightblue

}


nav a {
    color:darkblue;
    font-size: large;
}
:hover{
    color:purple;
}
h1{
    font-size: 3pc;
    color:darkslateblue;
    text-align:center;
}

   




.skill{
    color:black;
    margin: 0px;
    text-align:justify;
    text-justify:auto;
    text-align:center;
}
  
  






.fa-brands{
    
    font-size: 10pt;
    color:black;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    text-align: center;
    float:unset;
    display:flow-root;
    
    

    
  
}


    

    
    



.center{
    text-align: center;
    display: inline;
    text-align:justify;

}
.ceter{
    background-color:#AEBDCA;
	width: 200px;
	height: 200px;
	padding: 50px;
	border: 10px solid black;
	margin: 10px;
    display:block;
    margin-right: auto;
    float: right;
    
    


}










