
/* body, text, links and background */
body{
    font-family: sans-serif;
    background-color: #EDE4E0;
    color: #1a281a;

    
}
h1,h2{
    color: #757d82;
    background-color: #DBC8AC;
}

.evenrow{
    color:#3C2317;
    
}
p{
   color: #122d42;
   
}
a{
    color: #2c384a;
    background-color: #DBC8AC;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 1.3;
}

nav{
    padding: 10px;
    margin-bottom: 30px
}


nav a{
    background-color:#000000;
    color: #D0B8A8;
}

a:hover{
    background-color: #227e2b;
}


li{
    color: #607EAA ;
}

.tab1{
    float: right;
}
.bio_image{
    margin: 5%;
    float: left;

}
.row1{
    display: flex;
    background-color: #665A48;
    border-radius: 1em;
}
.linkd_email,.address{
    margin: 20px;
}
.linkd_email{
    margin-left: 40px;
    margin-top: 40px;
    
}
.row2{
    display: flex;
    background-color: bisque;
    border-radius: 1em;
    margin-top: 2%;
}

.google_map, .form{
    margin: 20px;
}
.Green{
    color:#182747;
}
.blue{
    color:#607EAA;
}