.mfAddBoxBtn
{
	display: inline-block;
    padding: 6px 12px;
    margin-right: 10px;
    cursor: pointer;
}
.mfDeleteBoxIcon
{
    display: inline-block;
    cursor: pointer;
}
.mfDeleteBoxIcon i 
{
    font-size: 20px;
    position: relative;
    top: 5px;
}
.mfGridNodeLabel 
{
    font-weight: normal;
    margin-right: 10px;
    min-width: 40px;
    float: left;
    margin-top: 5px;
}
.mfGridBoxSettingsContent ul 
{
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    background: #f1f1f1;
    border-radius: 30px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    position: absolute;
    top: 1px;
}
.mfGridBoxSettingsContent ul li 
{
    display: inline-block;
    padding: 2px 12px;
    color: #5f5f5f;
    cursor: pointer;
}
.mfGridBoxSettingsContent ul li.active {
    color: #fff;
    background: #47a6f5;
    font-weight: 600;
}
.mfGridBoxSettingsContent 
{
    margin-bottom: 12px;
    position: relative;
}
.mfGridBuilderNodeTree 
{
    min-height: 100px;
    max-height: 200px;
    padding-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
}
.mfGridBoxSettingsWrapper 
{
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}
.mfGridBoxSettingsContent .checkbox
{
    left: 21px !important;
    display: inline-block;
    width: 48px;
    margin: 2px 0 0;
}
.mfGridBuilderNodeTree .k-image
{
	margin-right: 10px;
}
.mfGridBoxSettingsDownload
{
	font-size: 14px;
	color: #1F96F3;
	cursor: pointer;
	display: inline-block;
    margin: 10px 0px;
}